@import url('htpps://fonts.googleapis.com/css?family=Ballo+chettan|Dancing+Script|Germania+One|Gloria+Hallelujah|Indie+Flower|Orbitron|Pacifico|Permanent+Marker|Satisfy|Shadows+Into+Light');
.n1{
  background-color: #8a2be2;
  text-align: center; /* O JEITO QUE QUER O TEXTO*/
    font-size: 20px;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* ESSA É A PARTE DE COMO A ESCRITA DEVE FICAR*/
    outline-style: dashed;

    /* ESSA PARTE É PARA PODER GIRAR O DOCUMENTO*/

    width: 100px;
    height: 100px;
    transition: width 2s, height 2s, transform 2s;
  
} /*SEMPRE TEM QUE TER ESSA SEGUNDA PARTE PARA PODER DAR CERTO O PROGRAMA*/
.n1:hover{
width : 300px;
height: 300px;
transform: rotate(360deg);
}
.n2{
  background-color: rgb(243, 134, 9); /* ESSA É A COR DO RETANGULO*/
  text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline-style: dotted;
    -webkit-transform: rotateZ(130deg); /* Safari */
  transform: rotateZ(20deg);

}
.n3{
  background-color: black;
  text-align: center;
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
  outline-style: ridge;
  width:200px;
  height: 100px;
  transition: width 50s, heigth 50s, transform 50s;
}
.n3:hover{
width : 300px;
height: 300px;
transform: rotate(1000deg);
}
.n4{
  background-color: turquoise;
  text-align: start;
  font-size: 30px;
  color: rgb(247, 12, 12);
  font-family:  arial;
  outline-style: outset;
  -webkit-transform: rotateX(180deg); /* Safari */
  transform: rotateX(180deg);
}
.n5{

  background-color: black;
  text-align: start;
  font-size: 22px;
  color: rgb(240, 25, 229);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  overflow-y: scroll;
  height: 100px;
  width:200px;
}

.n6{
  background-color: deeppink;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: black;
  -webkit-transform: rotateZ(60deg); /* Safari */
  transform: rotateZ(170deg);
}
.n7{
  background-color: lightseagreen;
  text-align: rig;
  font-size: 18px;
  font-family: serif;
  color: white;
  outline-style: ridge;
  text-shadow: 2px 2px red;
  
  }

.n8{
  background-color: blueviolet;
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: midnightblue;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(253, 67, 10), 0 0 5px rgb(248, 252, 13);
  width: 100px;
  height: 100px;
  transition: width 2s, height 2s, transform 2s;
}
.n8:hover{
  width : 300px;
  height: 300px;
  transform: rotate(1000deg);
  }
.n9{
  
  background-color: limegreen;
  text-anchor: middle;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  transform: rotateZ(2deg);
  border-bottom-right-radius: 110px; 
  border-bottom-left-radius: 110px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
.n10{
  background-color: unset;
  text-align: center;
  font-size: 40px;
  font-family: cursive;
  color: #f0196b;
  outline-style: groove;
  text-shadow: 2px 4px 4px black, 0 0 30px orangered, 0 0 10px lightseagreen;

}
/*@-webkit-keyframes n10{
from 
}*/ 

body {
  background-image: url(https://giffiles.alphacoders.com/747/74797.gif);
  background-position: center;
  background-attachment: fixed;

  
}
